* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Primary: #BF9B30;
    --Green: #34A853;
    --Red: #1a1919b3;
    --Grey: #d0d0d09e;
    --Black: #000000;
    --white: #ffffff;
  }
  

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--Black);
}


/* start background */
.home-background {
    background-image: url(../../Images/main_background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 660px;

}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1800px;
    background-color:rgba(29, 29, 29, 0.853);
    opacity: .8.5;
    z-index: 5;
}


/* End background */
/* start navbar */

.Header-Top-LogIn{
    /* background-color: var(--Red); */
    width: 87%;
    margin: auto;
    padding: 10px ;
}

.Header-Top-LogIn-text{
    font-size: 18px;
color:var(--white);
text-decoration: none;

}

.nav-bar-home-page{
    width:89%;
    margin: auto;
}

.nav-bar-button-color {
    margin-left: 65px !important;
    border: 2px solid var(--Primary);
}
.nav-bar-button-color:hover{
background-color: var(--Primary);
}
.navbar-nav-home-list {
    /* display: flex; */
    justify-content: space-between;
}

.nav-link-home-text{
    font-size: 11.4px;
}
/* end navbar */
.home-h3 {
    width: 85%;

    margin: auto;
    margin-top: 180px;
    font-size: 45px;
    color: white;
}






.home-div-row {
    border-radius: 8px;
    margin: 80px auto 100px;
    width: 85%;
    background-color: var(--Red);
    color: white;
    padding:25px 0px 0px;
}

.about-right-div {
    height: 100%;
    width: 45%;
    padding-right: 40px;
}

.about-right {
    position: relative;
}

.home-row {
    height: 300px;
    width: 50%;
 margin-left: 25px;

}

.home-line {
    height: 1px;
    width: 60px;
    background-color:var(--Primary);
    margin: -12px 0px 8px 0px;
}

.about-p {
    padding-right: 50px;
}

.left-div {
    width: 93%;
    margin-top: 5px;
    position: relative;
}

.about-span {
    font-size: 14px;
   
}
.home-tech-text{
    font-size: 14px;
}

.about-right-HERES-THE{
    font-size: 13px;
}
/* .about-right-text{
    font-size: 10px !important;
} */

.home-HERES-THE{
    font-size: 25px;
}

.span-icon-about {
    position: absolute;
    right: 2px;
    bottom: 0;
}

.home-card {
   
    color: white;
    margin: auto;
    border: 1px;

    width: 80%;
}



.Education-Tech-Sports-box{
    padding: 10px;
}

.Education-Tech-Sports-text1{
    font-size: 13px;
}
.Education-Tech-Sports-text22{
    font-size: 13.5px;
}
.Education-Tech-Sports-text3{
    font-size: 14px;
}
.Education-Tech-Sports-image {
    width: 100%;
    height: 90%;
}
.Education-Tech-Sports-icon{
    color: gray;
    font-size: 15px;
}

.Education-Tech-Sports-icon2{
color: var(--Primary);
padding-top: 35px;
    font-size: 30px;
}



.footer-home-container{
    width: 85%;
    padding: 20px 0px;
    margin: auto;
    color: var(--white);
}
.footer-icon-arow{
    color: var(--Primary);
font-size: 45px;
margin-top: 60px;
}
.footer-text-header{

margin-left: 20px;

}

.footer-icon12{

    color: var(--Primary);
}
.footer-icon11{
    font-size: 30px;
margin-left: 25px;

}
@media(max-width : 1200px) {
    .icon-span-home {
        top: 5px;
    }

    .home-overlay {
        height: 2300px;
    }


   


    .seffuture-footer {
        width: 300px;
        display: block;
    }

}

.FEATURED {
    transform: rotate(270deg);
    position: absolute;
    margin: 145px 0px 0px -175px;
    font-size: 38px;
}

.home-div-1 {
    width: 2%;
    /* background-color: rgba(245, 18, 18, 0.13); */
}


@media(max-width : 768px) {
    .footer-icon12{ display: none;}
 
    .home-overlay {
        height: 2500px;
    }
.footer-image{
    width: 100px;
    height: 100px;
}
.footer-icon-arow-box,.footer-text-header-box{
    display: none;
}

.footer-icon12-box{

margin-right: 495px !important;


}
.footer-icon11-box{
margin-top:-200px ;

}
.footer-icon11{
font-size: 30px ;
margin-top: 10px;
display: block;
}
    .home-h3 {
   
        font-size: 40px;
        
    }
    .Education-Tech-Sports-icon2{
        display: none;
    }
    .about-right-div {
        height: 100%;
        width: 100%;
        margin-top: 250px;


    }
.Education-Tech-Sports-box{

    padding:0px ;
}
    .Education-Tech-Sports-text2{
        font-size: 18px;
    }
    .Education-Tech-Sports-text3{
        font-size: 12.5px;
    }

    .home-row {
        width: 100%;
        height: 10% !important;
        /* height: 100%; */
        /* background-color: rgba(3, 3, 3, 0.13); */

    }


    .icon-span-home {
        top: 0;
        width: 94px;

    }

    .about-right-top-div {
        width: 590px;
        /* margin:200px auto !important; */

    }
    
.home-div-row {
 height: 300px;
 margin-bottom: 580px;

}

    .about-right-top-div {
       width: 106%;
        margin: 10px auto 10px;
        background-color: rgba(0, 0, 0, 0.322);
        height: 180px;
        padding: 30px;
        border-radius: 8px;
    }

    .span-icon-about {
        top: 0px;
    }

    .FEATURED {
        margin: 100px 0px 0px -170px;
    }
}

@media(max-width : 567px) {
  
.footer-icon11{
    font-size: 25px ;
    margin-top: 20px;}
    .footer-icon12-box{

        margin-right: 235px !important;
       
        
        }

        .footer-icon12-box p{
            font-size: 13px;
        }
        .footer-icon11-box{

            margin-top: -230px;
        }
        .footer-title{
            width: 280px;
            font-size: 22px;
        }
    .home-h3 {
   
        font-size: 33px;
        
    }
    .FEATURED{
        margin: 0px 0px 0px -148px !important;
        font-size: 28px;
    }
    .home-overlay {
        height: 3500px;
    }

    .home-HERES-THE{
        font-size: 15px;
    }
    .home-tech-text{
        font-size: 12px;
    }
    .about-span-text2{
        font-size: 11px;
    }
    .about-right-top-div {
        height: 200px;
    padding: 35px 15px 40px !important;
    }


}

@media(max-width : 375px) {
  .footer-icon12-box{

    margin-right: 190px !important;

  }
  .footer-icon11{
font-size: 20px;
  }
  
    .home-div-row{
        margin-top: 172px;
    } 
.about-right-top-div{
    height: 230px;
    width: 115% !important;
    padding: 35px 15px 40px !important;

}
.about-span{ padding: 0px;}
.about-span-text2{
    font-size: 12px;
  
}
.about-span-icon5 {
    font-size: 12px;
}
    .home-overlay {
        height: 3550px;
    }

    
}


@media(max-width : 330px) {
    .footer-icon12-box{
  
      margin-right: 150px !important;
  
    }

    .home-overlay {
        height: 3480px;
    }}